<div class="tab-pane" id="validations">
<h4>General transaction types validations</h4>

<table class="table">
<tbody>
<tr>
  <th>Validation Type</th>
  <th colspan="1">Code</th>
  <th>Message</th>
  <th>Business Case</th>
</tr>
<tr>
  <td rowspan="2">Authentication</td>
  <td colspan="1">V111</td>
  <td>UserId must be specified</td>
  <td>Invalid credentials</td>
</tr>
<tr>
  <td colspan="1">V111</td>
  <td>Security Key must be specified</td>
  <td>Invalid credentials</td>
</tr>
<tr>
  <td rowspan="2">Installation</td>
  <td colspan="1">V112</td>
  <td>Installation must be specified</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="1" class="highlight">V113</td>
  <td>Invalid installation / Installation ID must be numeric</td>
  <td>Installation id must match only digit characters 0...9</td>
</tr>
<tr>
  <td rowspan="4">Customers general validations<br><br></td>
  <td colspan="1">V114</td>
  <td>Customer must be specified / Customer details must be specified</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V115</td>
  <td>merchantRef or id must be specified</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V116</td>
  <td>merchantRef and id must not be specified both in the same time</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V117</td>
  <td>Customer not found</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td rowspan="2">Create customers validations</td>
  <td colspan="1">V118</td>
  <td colspan="1">customer name cannot be null</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V119</td>
  <td colspan="1">At least one name for the customer must be set.</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td>Payment class validation</td>
  <td colspan="1">V123</td>
  <td colspan="1">paymentClass should be specified</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td>Postal code validation</td>
  <td colspan="1">V124</td>
  <td colspan="1">invalid optional post code</td>
  <td colspan="1">Request customer details with invalid postal code.
  </td>
</tr>
<tr>
  <td>Callback URL validation</td>
  <td colspan="1">V125</td>
  <td colspan="1">Invalid URL.</td>
  <td colspan="1">Callback url does not have a valid URL format.</td>
</tr>
<tr>
  <td rowspan="8">
    Transactions generic validations&nbsp;&nbsp;&nbsp;
  </td>
  <td colspan="1">V100</td>
  <td colspan="1">Invalid Amount</td>
  <td colspan="1">Zero amount on the request</td>
</tr>
<tr>
  <td colspan="1">V126</td>
  <td colspan="1">Currency must be specified</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V127</td>
  <td colspan="1">Unrecognised currency {currencyType}</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V128</td>
  <td colspan="1">CommerceType must be specified</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V129</td>
  <td colspan="1">Amount must be specified</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V130</td>
  <td colspan="1">Amount {amountValue} cannot be negative</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V131</td>
  <td colspan="1">Amount {amountValue} exceeds the number of fractional digits {digitsNumber} permitted for currency
    {currencyType}
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V132</td>
  <td colspan="1">Amount {amountValue} exceeds the maximum number of non-fractional digits {digitsNumber}
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td rowspan="7">Secondary transactions validations<br><br></td>
  <td colspan="1">V133</td>
  <td colspan="1">Cannot {requestedTxnType} a transaction in a different currency ({requiredCurrency}) to the original
    {originalCurrency})
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V134</td>
  <td colspan="1">Cannot perform a {requestedTxnType} against a {originalTxnType} transaction
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V135</td>
  <td colspan="1">
    Cannot perform a {requestedTxnType} against an incomplete transaction
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V136</td>
  <td colspan="1">
    Cannot perform a {requestedTxnType} &nbsp;against a failed transaction
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V137</td>
  <td colspan="1">
    Cannot perform a {requestedTxnType} against an uncaptured transaction
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V138</td>
  <td colspan="1">Cannot perform a {requestedTxnType} against an already-captured transaction
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V139</td>
  <td colspan="1">
    Cannot perform a {requestedTxnType} against an already-void transaction
  </td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td rowspan="4">Nickname validations</td>
  <td colspan="1">V140</td>
  <td colspan="1">Card nickname must be provided</td>
  <td colspan="1">Card nickname must be provided</td>
</tr>
<tr>
  <td colspan="1">V141</td>
  <td colspan="1">
    Please ensure nickname consists of more than just spaces.
  </td>
  <td colspan="1">Card nickname contains only spaces</td>
</tr>
<tr>
  <td colspan="1">V142</td>
  <td colspan="1">Invalid nickname length (\\{nicknameLength\\}). Max number of
    permitted characters is 20.
  </td>
  <td colspan="1">Card nickname exceeds the max number of permitted characters(20).
  </td>
</tr>
<tr>
  <td colspan="1">V143</td>
  <td colspan="1">Card nickname is invalid. Only latin alphanumeric characters,
    spaces and &nbsp;. - ' are permitted.
  </td>
  <td colspan="1">Card nickname contains characters not permitted</td>
</tr>
<tr>
  <td rowspan="6">Card details validations</td>
  <td colspan="1">V144</td>
  <td colspan="1">Expiry date should be MMYY</td>
  <td colspan="1">Expiry date must match: MMYY format</td>
</tr>
<tr>
  <td colspan="1">V145</td>
  <td colspan="1">Start date should be MMYY</td>
  <td colspan="1">Start date must match: MMYY format</td>
</tr>
<tr>
  <td colspan="1">V146</td>
  <td colspan="1">startDate and clearStartDate can not be specified in the same
    request
  </td>
  <td colspan="1">StartDate and ClearStartDate are both specified in the same time
  </td>
</tr>
<tr>
  <td colspan="1">V147</td>
  <td colspan="1">Start date after expiry</td>
  <td colspan="1">StartDate and Expiry are both specified at the same time and start
    date is after the expiry date
  </td>
</tr>
<tr>
  <td colspan="1">V148</td>
  <td colspan="1">Issue number must be between 0 and 9</td>
  <td colspan="1">Issue number must be between 0 and 9</td>
</tr>
<tr>
  <td colspan="1">V149</td>
  <td colspan="1">issueNumber and clearIssueNumber can not be specified in the same
    request
  </td>
  <td colspan="1">IssueNumber and ClearIssueNumber are both specified in the same
    time
  </td>
</tr>
<tr>
  <td rowspan="2">Other validations</td>
  <td colspan="1">V150</td>
  <td colspan="1">One payment method should be specified</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td colspan="1">V151</td>
  <td colspan="1">token should be set / cardToken must be specified</td>
  <td colspan="1">&nbsp;</td>
</tr>
<tr>
  <td rowspan="3">Payment details validations</td>
  <td colspan="1">V152</td>
  <td colspan="1">Address field exceeds max length</td>
  <td colspan="1">Line 1 / Line 2 / Line 3 / Line 4 / City / Country / Postal Code / Region field length exceeds 255
    characters
  </td>
</tr>
<tr>
  <td colspan="1">V154</td>
  <td colspan="1">Unrecognised address country</td>
  <td colspan="1">Address country is not a valid country in the system.</td>
</tr>
<tr>
  <td colspan="1">V155</td>
  <td colspan="1">Unrecognised address country code</td>
  <td colspan="1">Address country code is not a valid country code in the system.</td>
</tr>
<tr>
  <td colspan="1">Financial services validations</td>
  <td colspan="1">V153</td>
  <td colspan="1">Invalid date of birth "{dateOfBirth}", it must be in the format "yyyyMMdd".</td>
  <td colspan="1">The date of birth must match: yyyyMMdd format </td>
</tr>
</tbody>
</table>
</div>
