<div class="page-body">
  <p>
    PayPoint's 3rd generation PSP product is a complete payments processing platform that offers more flexibility for you, the Merchant,
    and your Customers, than any other PSP.  You can accept PayPal and Cash payments online, via mobile or over the phone in a PCI compliant,
    secure, seamless, highly configurable way.
  </p>
</div>
