<div class="tab-pane" id="hosted">
<h4>Hosted response codes</h4>

<p>
  Below is a list of the codes and messages you could receive in response to your hosted request.
</p>

<table class="table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Message</th>
    <th>Reason</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1">exception.authenticationFailure.noAuth</td>
    <td colspan="1">Authentication Failed</td>
    <td colspan="1">Authentication Failed</td>
  </tr>
  <tr>
    <td colspan="1">exception.authenticationFailure.noPriv</td>
    <td colspan="1">Authorisation Failed</td>
    <td colspan="1">Authorisation Failed</td>
  </tr>
  <tr>
    <td colspan="1">exception.cache.invalidResourcePath</td>
    <td colspan="1">Invalid Resource Path</td>
    <td colspan="1">Resource not found.</td>
  </tr>
  <tr>
    <td colspan="1">exception.config.noCustomerCardDomain</td>
    <td colspan="1">No customer-card domain configured</td>
    <td colspan="1">Customer-card domain not found for the installation.</td>
  </tr>
  <tr>
    <td colspan="1">exception.config.noReturnUrl</td>
    <td colspan="1">No return url provided</td>
    <td colspan="1">Return url not configured on customer session.</td>
  </tr>
  <tr>
    <td colspan="1">exception.error.amo</td>
    <td colspan="1">CSC Address match only</td>
    <td colspan="1">
      Fraud check fails for "address match only" rule
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.error.dcr</td>
    <td colspan="1">Daily card registrations</td>
    <td colspan="1">
      Fraud check fails for "daily card registrations" rule
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.error.mcr</td>
    <td colspan="1">Max card register</td>
    <td colspan="1">
      Fraud check fails for "max card register" rule
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.error.ndm</td>
    <td colspan="1">CSC No data match</td>
    <td colspan="1">
      Fraud check fails for "no data match" rule
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.error.nvd</td>
    <td colspan="1">Net balance</td>
    <td colspan="1">Fraud check fails for "net balance" rule</td>
  </tr>
  <tr>
    <td colspan="1">exception.initialiseHosted.noCustomer</td>
    <td colspan="1">Customer not found</td>
    <td colspan="1"><p>No customer found while initializing:</p>
      <ul>
        <li>a manage cards page,&nbsp;</li>
        <li>a transaction</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.installation.lookup</td>
    <td colspan="1">Invalid installation</td>
    <td colspan="1">The installation provided is not valid.</td>
  </tr>
  <tr>
    <td colspan="1">exception.landing.invalidFlow</td>
    <td colspan="1">Invalid flow provided</td>
    <td colspan="1">No flow specified or it is invalid.</td>
  </tr>
  <tr>
    <td colspan="1">exception.manageCards.noRegisteredCards</td>
    <td colspan="1">No cards registered</td>
    <td colspan="1"><p>Exception for customer having no cards registered.</p></td>
  </tr>
  <tr>
    <td colspan="1">exception.manageCards.noRegisteredCards.message</td>
    <td colspan="1">Currently you have no registered cards which are available for manage
      cards.
    </td>
    <td colspan="1">Response message when there are no cards registered.</td>
  </tr>
  <tr>
    <td colspan="1">exception.manageCards.noValidCards</td>
    <td colspan="1">No cards active</td>
    <td colspan="1">Customer has no card active.</td>
  </tr>
  <tr>
    <td colspan="1">exception.payout.noValidCards</td>
    <td colspan="1">No valid cards for withdrawal</td>
    <td colspan="1"><p>Exception when performing a PAYOUT and no cards available.</p></td>
  </tr>
  <tr>
    <td colspan="1">exception.payout.noValidCards.message</td>
    <td colspan="1">Currently you have no registered cards which are available for
      withdrawal.</td>
    <td colspan="1"><p>
      Response message when performing a PAYOUT and no cards available.</p></td>
  </tr>
  <tr>
    <td colspan="1">exception.permission.denied</td>
    <td colspan="1">Permission Denied</td>
    <td colspan="1"><p>Exception's message thrown when session details are not valid.</p></td>
  </tr>
  <tr>
    <td colspan="1">exception.permission.denied.message</td>
    <td colspan="1">You do not have permission to perform that action</td>
    <td colspan="1">Response message for "permision denied" exception.</td>
  </tr>
  <tr>
    <td colspan="1">exception.resumeFailure.invalidSession</td>
    <td colspan="1">Session invalid for resumption</td>
    <td colspan="1">When trying to resume a not susspended session.</td>
  </tr>
  <tr>
    <td colspan="1">exception.resumeFailure.noSession</td>
    <td colspan="1">No session found</td>
    <td colspan="1"><p>When:</p>
      <ul>
        <li>trying to resume a session that doesn't exist,</li>
        <li>it was a problem with retrieving the session,</li>
        <li>session was already expired or</li>
        <li>session was not found</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.skin.installation</td>
    <td colspan="1">Skin specified in installation not valid</td>
    <td colspan="1"><p>The skin status is not "VALID" or initializing the resources from
      the skin has failed.</p></td>
  </tr>
  <tr>
    <td colspan="1">exception.skin.lookup</td>
    <td colspan="1">No skin configured</td>
    <td colspan="1">No skin is configured for the current merchant.</td>
  </tr>
  <tr>
    <td colspan="1">exception.skin.merchant.lookup</td>
    <td colspan="1">No merchant configured</td>
    <td colspan="1">When trying to get the skin for the merchant, if the merchant was not
      found.</td>
  </tr>
  <tr>
    <td colspan="1">exception.skin.request</td>
    <td colspan="1">Skin specified in request not valid</td>
    <td colspan="1"><p>When trying to get the skin for the merchant, if:</p>
      <ul>
        <li>the skin id is not provided</li>
        <li>skin is not found</li>
        <li>provided skin is not the merchant's skin</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="1">exception.config.url.not.valid</td>
    <td colspan="1">Callback URL is not valid</td>
    <td colspan="1">When the callback URL is not a valid URL</td>
  </tr>
  <tr>
    <td colspan="1">exception.request.contentType</td>
    <td colspan="1">Content type {0} not supported. Content type application/json required.</td>
    <td colspan="1">When the provided content type is not valid. Content type application/json required.</td>
  </tr>
  <tr>
    <td colspan="1">exception.invalid.email</td>
    <td colspan="1">Email address provided is not valid</td>
    <td colspan="1">When the email address provided in the request is not in a valid format.</td>
  </tr>
  </tbody>
</table>

<h4>Hosted validation response codes</h4>

<table class="table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Message</th>
    <th>Reason</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1">validation.transaction.pan</td>
    <td colspan="1">Must be 3 or 4 digits</td>
    <td colspan="1">When a pan is invalid (null or empty, invalid format or length)</td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.issueNumber</td>
    <td colspan="1">Issue number must be between 0 and 9</td>
    <td colspan="1">Issue number validation on payment or update card</td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.card.selection</td>
    <td colspan="1">Invalid card selection</td>
    <td colspan="1">If there are no available cards or a problem occurred in the card
      selection.
    </td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.card.billingAddress</td>
    <td colspan="1">Max number of permitted characters is 255</td>
    <td colspan="1">Displayed for an address' element who exceeds the maximum permitted
      number of characters (e.g. billing address' lines, city, country)
    </td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.amount.range</td>
    <td colspan="1">Value must be in range</td>
    <td colspan="1">If the range restriction is applied and the amount specified is not in
      the range.
    </td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.amount.other</td>
    <td colspan="1">The amount you entered must be greater than zero</td>
    <td colspan="1">Amount is filled with the "other" string and the "other amount" field
      is null.
    </td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.amount.invalidnumber</td>
    <td colspan="1">The amount you entered must be numeric</td>
    <td colspan="1">The entered amount is not numeric.</td>
  </tr>
  <tr>
    <td colspan="1">validation.transaction.amount.invalidcsc</td>
    <td colspan="1">When a pan is invalid (null or empty, invalid format or length)</td>
    <td colspan="1">If the filled csc does not have 3 or 4 digits.</td>
  </tr>
  <tr>
    <td>validation.transaction.amount.csc</td>
    <td>Please provide the CSC number of your credit/debit card.</td>
    <td>The csc was not specified.</td>
  </tr>
  <tr>
    <td>validation.transaction.amount</td>
    <td>You must enter an amount</td>
    <td>The amount is missing.</td>
  </tr>
  <tr>
    <td colspan="1">Range.cardRegistration.cardNickname</td>
    <td colspan="1">Invalid nickname length. Max number of permitted characters is 20.</td>
    <td colspan="1">Max size limit validation for card nickname.</td>
  </tr>
  <tr>
    <td colspan="1">NotEmpty.cardRegistration.cardNickname</td>
    <td colspan="1">Please enter a nickname for your card. This will help you quickly
      identify your card.
    </td>
    <td colspan="1">Not empty validation for card nickname.</td>
  </tr>
  <tr>
    <td colspan="1">NotEmpty.cardRegistration.cardHolder</td>
    <td colspan="1">Cardholder name cannot be blank</td>
    <td colspan="1">Validation error for card holder name on card registration page</td>
  </tr>
  <tr>
    <td colspan="1">NotBlank.cardRegistration.cardNickname</td>
    <td colspan="1">Please ensure nickname consists of more than just spaces.</td>
    <td colspan="1">Not blank validation for card nickname.</td>
  </tr>
  <tr>
    <td colspan="1">label.error.maxCardsLimitReached</td>
    <td colspan="1">You've reached the maximum number of cards allowed.</td>
    <td colspan="1">Error label on "cannot add new card" page.</td>
  </tr>
  <tr>
    <td colspan="1">label.error.cannotDeleteCard</td>
    <td colspan="1">You don't have permission to delete cards.</td>
    <td colspan="1">Error label on "cannot delete card" page</td>
  </tr>
  <tr>
    <td colspan="1">Invalid.cardRegistration.cardNickname</td>
    <td colspan="1">Invalid characters. Only latin alphanumeric characters, spaces and . - '' permitted.</td>
    <td colspan="1">Characters-set limitations validation for card nickname.</td>
  </tr>
  </tbody>
</table>
</div>
